<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <title>Students</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" media="screen" href="styles.css" />

</head>


<body class="backgroundlook">
<div style="background-color: green">
  <h1>Welcome to the Students Page!</h1>
  <main>{{{studentsListHTML}}}</main>
</div>
</body>

</html>
